div[class*="Page"]{
    display:grid;
    grid-gap:5px;
    grid-template-columns:repeat(4, 1fr);
}
nav,h1{
    grid-column: 1 / -1;
}
nav{
    display:grid;
    grid-gap:5px;
    grid-template-columns:repeat(8, 1fr);
}
nav>a{
    grid-column:1/2
}
nav>a+a{
    grid-column:2/5;
}
h1{
    grid-column:3/-1;
}

.itemPage h1,.itemPage h2,.itemPage p{
    grid-column: 1/3;
}
.itemPage img{
    grid-column: 1/2;
}
.itemPage table{
    grid-column:3
}


.buildPage p{
    grid-column:1/2;
}
.buildPage h1{
    grid-column: 1/3;
}
.buildPage form{
    grid-column: 1/2;
}
.buildPage #result{
    grid-column:3/4;
}

form{
    display:grid;
    grid-gap:5px;
    grid-template-columns:repeat(8, 1fr);
}
form>*{
    grid-column: 1/-1;
}
form>*:last-child{
    grid-column:1/3;
}
