//Web Fonts
@import url('https://fonts.googleapis.com/css?family=Orbitron');


//Color Stuffs
$primary:#052745;
$secondary:#E7F0F0;
$accent1:#49204B;
$accent2:#FFFBB4;


//Font Stuffs
$headerFont:'Orbitron', sans-serif;
$headerSize:50px;
$headerWeight:600;
$headerSubSize:35px;
$headerSubWeight:100;
$bodyLargeSize:25px;
$bodySmallSize:20px;


//Image Stuffs


//Table Stuffs


//Margin Stuffs


//Other Variables
