
@import 'reset';
@import 'variables';
@import 'grid';

body{
    background-color:#eee;
    margin: 10px;
}

h1{
    font-family:$headerFont;
    font-weight:$headerWeight;
    font-size:$headerSize;
}
.itemPage h1{
    font-size:$headerSubSize;
    font-weight:$headerSubWeight;
}

table,td{
    border:1px solid black;
    border-spacing: 10px;
}
td:first-child{
    padding:5px 10px 0px 5px;
}
td:last-child{
    padding:5px 5px 0px 10px;
}
