doctype html
html
    head
        block header
            block title
                title Risk of Rain Item Database
            style
                include ../public/css/styles.css
    body
        block navigation
            a(href="/")
                p Home Page
        block content
