doctype html
html
    head
        block header
            block title
                title Risk of Rain Item Database
            style
                include ../public/css/main-styles.css
    body
        block navigation
            nav
                a(href="/") Home Page
                a(href="/build") Build
        block content
